*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.container{
    height: 100vh;
    margin: 0 auto;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    
    grid-template-areas: 'linkbutton';
    grid-auto-flow: column;
}


.linkButton{
    display:grid;
    grid-area: linkbutton;
    justify-items: center;
    align-items: center;
    font-family: cursive;
}

.toggler{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    border-radius:50%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.barlink{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
   opacity:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.barlink>div{
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 1.5px;
    background-color:rgb(227, 169, 9);
    transition: .4s;
}

.barlink>div::before ,.barlink>div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color:rgb(227, 169, 9);
    transition: .4s;
}

.barlink>div::before{
    top: -10px;
}

.barlink>div::after{
    top: 10px;
}

.toggler:checked + .barlink>div{
    transform: rotate(135deg);
}
.toggler:checked + .barlink>div::after {
    transform: rotate(45deg);
    background-color:rgb(227, 169, 9);
    top: 10px;
    right:10px
}
.toggler:checked + .barlink>div::before{
    transform: rotate(225deg);
    background-color:rgb(227, 169, 9);
    top:-5;
    left:10px
}
.toggler:checked:hover + .barlink>div{
    transform: rotate(225deg);
}

.toggler:checked ~ .listbar > div{
    visibility: visible;
    opacity: 1;
}


.listbar{
    position: fixed;
    width:100vw;
    height: 100vh;
    transition: .6s ease;
    visibility: hidden;
}
.listbar > div{
    position: absolute;
    border-radius: 50%;
    width: 1600px;
    height: 1600px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
    background-color: rgba(0, 0, 0, 0.9);
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.listbar > div > a{
    padding: 20px;
    color: white;
}



